@page
@model Patterns_KNTu_22_1_Surhai_Andrii.Pages.Brands.IndexModel
@{
}



<div class="mb-3">
    <button type="button" name="createBrandButton" class="btn btn-primary" onclick="document.location.href = ('/Brands/Create')">
        Create
    </button>
</div>

<div class="mb-3">
    <button type="button" name="updateBrandButton" class="btn btn-primary" onclick="document.location.href = ('/Brands/Update')">
        Update
    </button>
</div>

<div>
    <h2>
        <p class="col-form-label">SELECT ALL</p>
    </h2>
    <table class="table" id="brandsTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model.Brands)
            {
                <tr>
                    <td>@brand.Id</td>
                    <td>@brand.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h2>
        <p class="col-form-label">DELETE</p>
    </h2>
    <form method="POST" asp-page-handler="Delete">
        <label for="brand_id_delete" class="col-form-label">Brand ID:</label>
        <select id="brand_id_delete" name="brand_id_delete" class="form-select-sm">
            @foreach (var brand in Model.Brands)
            {
                <option value="@brand.Id">@brand.Id</option>
            }
        </select>
        <br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<div>
    <h2>
        <p class="col-form-label">SELECT BY ID</p>
    </h2>
    <form method="POST" id="selectBrandForm">
        <label for="brand_id_select" class="col-form-label">Brand ID:</label>
        <select id="brand_id_select" name="brand_id_select" class="form-select-sm" required>
            @foreach (var brand in Model.Brands)
            {
                <option value="@brand.Id">@brand.Id</option>
            }
        </select>
        <br>
    </form>

    <table id="brandSelectTable" class="table" style="display:none;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span id="brandId"></span></td>
                <td><span id="brandName"></span></td>
            </tr>
        </tbody>
    </table>
</div>





@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#brand_id_select").change(function () {
                var selectedId = $(this).val();
                if (selectedId) {
                    $.get("/Brands/Index?handler=GetBrandById&id=" + selectedId, function (data) {
                        $("#brandId").text(data.id);
                        $("#brandName").text(data.name);

                        $("#brandSelectTable").show();
                    });
                } else {
                    $("#brandSelectTable").hide();

                    $("#brandId, #brandName").text('');
                }
            });
        });
    </script>
}