@page
@model Patterns_KNTu_22_1_Surhai_Andrii.Pages.InstrumentModel
@{
}

<h2>
    <p>INSERT</p>
</h2>
<form method="POST" asp-page-handler="Create">
    <label for="name" class="col-form-label">Name:</label>
    <input type="text" id="name" name="name" class="form-control-sm" required>
    <br>

    <label for="category_id" class="col-form-label">Category:</label>
    <select id="category_id" name="category_id" class="form-select-sm" required>
        <option value="">Select a category</option>
        @foreach (var category in Model.Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <br>

    <label for="brand_id" class="col-form-label">Brand:</label>
    <select id="brand_id" name="brand_id" class="form-select-sm" required>
        <option value="">Select a brand</option>
        @foreach (var brand in Model.Brands)
        {
            <option value="@brand.Id">@brand.Name</option>
        }
    </select>
    <br>

    <label for="country_id" class="col-form-label">Country:</label>
    <select id="country_id" name="country_id" class="form-select-sm" required>
        <option value="">Select a country</option>
        @foreach (var country in Model.Countries)
        {
            <option value="@country.Id">@country.Name</option>
        }
    </select>
    <br>

    <label for="year" class="col-form-label">Year:</label>
    <input type="text" id="year" name="year" class="form-control-sm" required>
    <br>

    <label for="price" class="col-form-label">Price:</label>
    <input type="text" id="price" name="price" class="form-control-sm" required>
    <br>

    <label for="quantity" class="col-form-label">Quantity:</label>
    <input type="text" id="quantity" name="quantity" class="form-control-sm" required>
    <br>

    <label for="description" class="col-form-label">Description:</label>
    <input type="text" id="description" name="description" class="form-control-sm" required>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>






<h2>
    <p class="col-form-label">DELETE</p>
</h2>
<form method="POST" asp-page-handler="Delete">
    <label for="instrument_id_delete" class="col-form-label">Select an Instrument:</label>
    <select id="instrument_id_delete" name="instrument_id_delete" class="form-select-sm">
        @foreach (var instrument in Model.Instruments)
        {
            <option value="@instrument.Id">@instrument.Id</option>
        }
    </select>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>






<h2>
    <p class="col-form-label">SELECT BY ID</p>
</h2>
<form method="POST" asp-page-handler="SelectById">
    <label for="instrument_id_select" class="col-form-label">Instrument:</label>
    <select id="instrument_id_select" name="instrument_id_select" class="form-select-sm" required>
        @foreach (var instrument in Model.Instruments)
        {   
            <option value="@instrument.Id">@instrument.Id</option>
        }
    </select>
    <br>

    <input type="submit" value="Submit" class="btn btn-primary">
</form>

@if (HttpMethods.IsPost(Request.Method))
{
    int instrumentId = Model.Instrument.Id;
    string instrumentName = Model.Instrument.Name;
    int instrumentCategoryId = Model.Instrument.CategoryId;
    int instrumentBrandId = Model.Instrument.BrandId;
    int instrumentCountryId = Model.Instrument.CountryId;
    int instrumentYear = Model.Instrument.Year;
    double instrumentPrice = Model.Instrument.Price;
    int instrumentQuantity = Model.Instrument.Quantity;
    string instrumentDescription = Model.Instrument.Description;

    <div>
        <p><strong>ID:</strong> @instrumentId</p>
        <p><strong>Name:</strong> @instrumentName</p>
        <p><strong>Category Id:</strong> @instrumentCategoryId</p>
        <p><strong>Brand Id:</strong> @instrumentBrandId</p>
        <p><strong>Country Id:</strong> @instrumentCountryId</p>
        <p><strong>Year:</strong> @instrumentYear</p>
        <p><strong>Price:</strong> @instrumentPrice</p>
        <p><strong>Quantity:</strong> @instrumentQuantity</p>
        <p><strong>Description:</strong> @instrumentDescription</p>
    </div>
}



<h2>
    <p>UPDATE</p>
</h2>
<form method="POST" asp-page-handler="Update">
    <div>
        <label for="instrument_id_update" class="col-form-label">Select an Instrument:</label>
        <select id="instrument_id_update" name="instrument_id_update" class="form-select-sm">
            @foreach (var instrument in Model.Instruments)
            {
                <option value="@instrument.Id">@instrument.Id</option>
            }
        </select>
    </div>
    <label for="name_update" class="col-form-label">Name:</label>
    <input type="text" id="name_update" name="name_update" required>
    <br>

    <label for="category_id_update" class="col-form-label">Category:</label>
    <select id="category_id_update" name="category_id_update" class="form-select-sm" required>
        <option value="">Select a category</option>
        @foreach (var category in Model.Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <br>

    <label for="brand_id_update" class="col-form-label">Brand:</label>
    <select id="brand_id_update" name="brand_id_update" class="form-select-sm" required>
        <option value="">Select a brand</option>
        @foreach (var brand in Model.Brands)
        {
            <option value="@brand.Id">@brand.Name</option>
        }
    </select>
    <br>

    <label for="country_id_update" class="col-form-label">Country:</label>
    <select id="country_id_update" name="country_id_update" class="form-select-sm" required>
        <option value="">Select a country</option>
        @foreach (var country in Model.Countries)
        {
            <option value="@country.Id">@country.Name</option>
        }
    </select>
    <br>

    <label for="year_update" class="col-form-label">Year:</label>
    <input type="text" id="year_update" name="year_update" required>
    <br>

    <label for="price_update" class="col-form-label">Price:</label>
    <input type="text" id="price_update" name="price_update" required>
    <br>

    <label for="quantity_update" class="col-form-label">Quantity:</label>
    <input type="text" id="quantity_update" name="quantity_update" required>
    <br>

    <label for="description_update" class="col-form-label">Description:</label>
    <input type="text" id="description_update" name="description_update" required>
    <br>


    <div>
        <input type="submit" class="btn btn-primary" value="Update">
    </div>
</form>


@section scripts 
{
    <script>
        $(document).ready(function () {
            $("#instrument_id_update").change(function () {
                var selectedId = $(this).val();
                if (selectedId) {
                    // Відправте запит на сервер, щоб отримати інформацію про інструмент за вибраним ідентифікатором.
                    $.get("/Instrument?handler=GetInstrumentById&id=" + selectedId, function (data) {
                        // Заповніть поля форми з отриманими даними.
                        $("#name_update").val(data.name);
                        $("#category_id_update").val(data.categoryId);
                        $("#brand_id_update").val(data.brandId);
                        $("#country_id_update").val(data.countryId);
                        $("#year_update").val(data.year);
                        $("#price_update").val(data.price);
                        $("#quantity_update").val(data.quantity);
                        $("#description_update").val(data.description);
                    });
                } else {
                    // Очистити поля форми, якщо не вибрано жодного інструменту.
                    $("#name_update").val('');
                    $("#category_id_update").val('');
                    $("#brand_id_update").val('');
                    $("#country_id_update").val('');
                    $("#year_update").val('');
                    $("#price_update").val('');
                    $("#quantity_update").val('');
                    $("#description_update").val('');
                }
            });
        });
    </script>
}